%tr
  %td.pitch
    = link_to image_tag(pitch.featured_image.url(:thumb)), pitch_url(pitch)
    Artículo:
    = link_to h(pitch.headline), pitch_url(pitch)
    - if pitch.unapproved?
      %br/
      .status{:id => pitch.id} Pending approval
  %td.created= pitch.created_at.to_s(:date)
  %td.donations
    = render :partial => "shared/table_progress_bar", :locals => {:pitch => pitch}
  %td.actions
    - if pitch.editable_by?(current_user)
      .action= link_to "Editar", edit_pitch_url(pitch)
    - if pitch.can_be_accepted?
      .action= link_to "Aceptar", accept_myspot_pitch_url(pitch), :method => :put, :confirm => "¿Estás seguro de que quieres aceptar este artículo aunque no esté completamente financiado?"
    - if pitch.story
      .action= link_to "Ir a la historia", story_path(pitch.story)
    - if pitch.funded? || pitch.accepted?
      - unless pitch.story.nil?
        - if pitch.story.draft? 
          .action= link_to "Report", edit_story_url(pitch.story)
        - elsif pitch.story.published?
          .action= link_to "Ver historia publicada", story_url(pitch.story)
    = link_to 'Make blog post', new_pitch_post_path(pitch)

