%h2 Mi cuenta

= render :partial => "myspot/nav"

.span-715.box_white
  = render :partial => "myspot/dashboard_nav"
  - if @posts.blank?
    %p
      No has hecho comentarios en ningún blog todavía. Visita 
      = link_to 'Mis artículos propuestos', myspot_pitches_path
      para realizar uno.
  - else
    %table
      %tr
        %th Artículos
        %th Título
        %th Acciones
      - @posts.each do |post|
        %tr
          %td.pitch
            = link_to image_tag(post.pitch.featured_image.url(:thumb)), pitch_url(post.pitch)
            = link_to post.pitch.headline, pitch_url(post.pitch)
          %td= link_to post.title, pitch_post_url(post.pitch, post)
          %td
            = link_to 'Edit', edit_pitch_post_url(post.pitch, post)
            = link_to 'Delete', pitch_post_url(post.pitch, post), :method => :delete, :confirm => "¿Estás seguro de que quieres borrar este comentario?"
