- unless @pitch.errors.empty?
  - content_for :error do
    = error_messages_for :pitch

- @title = "Periodismoalacarta.com - Propón un artículo"
.block-spacer
%h3 Propón un artículo

#equalize
  -# first column content 
  .span-715.box_white
    .create_a_pitch
      %ol.create_a_pitch_iconized
        %li.tipster
        %li.pitcher
        %li.pledgester
        %li.journalist
      %ol.create_a_pitch_steps
        %li.tipster Los usuarios sugieren temas%br/
        %li.pitcher El periodista propone investigaciones%br/
        %li.pledgester La comunidad las financia%br/
        %li.journalist El periodista realiza la investigación y escribe un artículo
    .take_action
      %h4 Desde aquí puedes proponer una investigación para que sea financiada. Investiga lo que te gusta, sin presiones, sin censura y con total tranparencia, tus jefes son los usuarios y ellos quieren saberlo todo. 
      %br/
      %br/
      %br/
      %p.no_margin
        %strong ¿Qué tipo de historias estamos buscando?
      %ul
        %li== #{link_to "Guía de ayuda sobre como proponer artículos interesantes", page_path("about") + "#faq_reporter"},
        
        %li 
          No olvides
          = link_to "pasarte por las investigaciones sugeridas por los usuarios", "/news_items/search?news_item_type=tips&sort_by=desc&x=85&y=5"          
          Busca las investigaciones sugeridas por los usuarios relacionadas con tu artículo y asocialas a este. No lo olvides, es muy importante para que la gente financie tu reportaje.  
    .clear
    
    .block-spacer-negative
    
    = render :partial => 'form'
      
  -# second column content   
  = render :partial => 'sidebar'
.clear
.block-spacer

