%h2 Mi cuenta

= render :partial => "myspot/nav"

.span-715.box_white
  = render :partial => "myspot/dashboard_nav"
  %table.pledges
    %tr
      %th.pitch_header Propuesta
      %th.pledged_header Promesas
      %th.amount_header Cantidad
      %th.status_header Estado
      %th.actions_header Accciones
    %tr
      %td{:colspan => 5}
        .double_content_border
    = render :partial => "myspot/pledges/pledge", :collection => @pledges, :spacer_template => "myspot/pledges/pledge_spacer"

  = will_paginate @pledges

  .double_content_border


.span-160.box_white
  = render :partial => "layouts/common_questions"
