- @title = "Periodismoalacarta.com - Mis donaciones"
.block-spacer
- content_for :head do
  :javascript
    jQuery(document).ready(function(){
      jQuery('#remove_spotus_donation').click(function(){
        jQuery('input#spotus_donation').val('');
        jQuery('#support_spotus').hide();
        return false;
      });
    });

- if @donations && @donations.any?(&:errors)
  - content_for :error do
    = error_messages_for :donations, :object => @donations

#equalize

  - # first column content 
  .span-715.box_white
    %h2{:style => "color: #800000; text-align: center;"} Casi hecho! Un paso más:
    .block-spacer-negative 
    - if current_user.total_credits > 0
      .float-right
        == Tienes #{number_to_currency(current_user.total_credits)} en créditos
    %h3 Donaciones
    .double_content_border

    - form_tag myspot_donations_amounts_path, :method => :put do
      %ul.unpaid_donations
        - unpaid_donations.each do |donation|
          - content_tag_for :li, donation, :class => 'unpaid' do
            .column.span-70
              = link_to image_tag(donation.pitch.featured_image.url(:thumb)), donation.pitch
            .column.span-550
              %h3 
                Artículo:
                = link_to donation.pitch.headline, donation.pitch
              - if Group.all.any?
                %p
                  Donación a nombre de:
                  = select_tag "donation_amounts[#{donation.id}][group_id]", '<option value=''>Giving for a group?</option>' + options_from_collection_for_select(Group.all, :id, :name), :include_blank => true
              %p
                = truncate_words(donation.pitch.short_description)
                = link_to 'Read More &raquo;', donation.pitch
            .column.span-95
              $
              = text_field_tag "donation_amounts[#{donation.id}][amount]", number_to_currency(donation.amount, :delimiter => '', :unit => ''), :size => 4, :id => "donation_amounts_#{donation.id}_amount"
              .action= link_to "Eliminar", myspot_donation_path(donation), :method => :delete, :confirm => "¿Estás seguro de que quieres eliminar esta donación? #{number_to_currency(donation.amount)}?"
            %hr
        %li#support_spotus
          .column.span-70
            = image_tag('support_spotus.png')
          .column.span-550
            %h3 Colaborar con Periodismoalacarta.com
            %p
              Periodismoalacarta.com es una organización no lucrativa, pionera en el periodismo financiado en comunidad. A través de nosotros el público puede contratar a periodistas para realizar investigaciones que pueden descubrir, tal vez, grandes historias. 
          .column.span-95
            $
            = text_field_tag "spotus_donation_amount", number_to_currency(spotus_donation.amount, :unit => ''), :size => 5, :id => "spotus_donation"
            .action= link_to "Remove", '#', :id => 'remove_spotus_donation'
      .float-right
        = image_submit_tag 'purchase.png', :alt => 'Purchase'

  - # second column content   
  .span-160.box_white
    = render :partial => 'layouts/common_questions'

.clear
.block-spacer

