%h2 Mi cuenta

= render :partial => "myspot/nav"

.span-715.box_white
  = render :partial => "myspot/dashboard_nav"
  %table.donations
    %tr
      %th.pitch_header Artículos
      %th.donated_header Donado
      %th.donation_header Financiar
      %th.status_header Estado
      %th.actions_header Acciones
    %tr
      %td{:colspan => 5}
        .double_content_border
    = render :partial => "myspot/donations/donation", :collection => @donations, :spacer_template => "myspot/donations/donation_spacer"
    - if current_user.has_spotus_donation?
      = render :partial => "myspot/donations/donation_spacer"
      %tr
        %td.pitch
          = image_tag('support_spotus.png')
          Colabora con Spot.us
        %td.donated= current_user.last_paid_spotus_donation.created_at.to_s(:date)
        %td.donation= number_to_currency(current_user.paid_spotus_donations_sum)
        %td.status
        %td.actions

  .double_content_border

  = will_paginate @donations

.span-160.box_white
  = render :partial => "layouts/common_questions"
