- @title = "Periodismoalacarta.com - Opciones"
.block-spacer
%h3 Mi cuenta

= render :partial => 'myspot/nav'

- unless @settings.errors.empty?
  - content_for :error do
    = error_messages_for_resource

#equalize

  - # first column content 
  - form_for :settings, :url => myspot_settings_path, :html => { :method => :put } do |f|
    .span-605.box_white
      %h3 Información de contacto

      .span-595.box_yellow.create_a_tip_form
        .row
          = f.label :email, 'Email'
          = f.text_field :email
        .yellow-spacer-negative
        - if @settings.is_a?(Reporter) || @settings.is_a?(Organization)
          .row
            = f.label :phone, 'Teléfono'
            = f.text_field :phone
            <br /><span class='small quieter'>No se hará público</span>
          .yellow-spacer-negative
          .row
            = f.label :address1, 'Dirección(1)'
            = f.text_field :address1
            <br /><span class='small quieter'>No se hará público. 
            <br />Es solo por si tenemos que verificar tu identidad o contactarte.</span>
          .row
            = f.label :address2, 'Dirección (2)'
            = f.text_field :address2
          .row
            = f.label :city, 'Ciudad'
            = f.text_field :city
          .row
            = f.label :state, 'Provincia'
            = f.text_field :state, :size => 2
          .row
            = f.label :zip, 'C. Postal'
            = f.text_field :zip, :size => 5
          .row
            = f.label :country, 'País'
            = f.country_select :country, ['Spain'], :include_blank => false
          .clear

      %hr

      %h3 Cambia tu contraseña
      .span-595.box_yellow.create_a_tip_form
        .row
          = f.label :password, 'Nueva contraseña'
          = f.password_field :password
        .row
          = f.label :password_confirmation, 'Confirmar contraseña'
          = f.password_field :password_confirmation
      .clear

      %hr
      
      %h3 Email
      .span-595.box_yellow
        .div
          = f.check_box :notify_tips
          = f.label     :notify_tips,  "Investigaciones sugeridas"
        .div
          = f.check_box :notify_pitches
          = f.label     :notify_pitches,  "Artículos propuestos"
        .div
          = f.check_box :notify_stories
          = f.label     :notify_stories,  "Historias de interés"
        .div
          = f.check_box :notify_spotus_news
          = f.label     :notify_spotus_news,  "Noticias de Periodismoalacarta.com"
      .clear
  
      .double_content_border

      .float-right
        %input{:type => "image", :src=>"/images/save.png"}
      
  
  - # second column content   
  .span-270.box_white{:style=>"position:absolute;top:0;right:0;"}
    = render :partial => 'layouts/common_questions'

.clear
.block-spacer

