- form_for(@tip, :html => { :multipart => true }) do |f|
  .box_yellow.create_a_tip_form
    .yellow-spacer-negative
    .row
      = render :partial => 'shared/network', :locals => {:f => f, :instance => @tip}
    .yellow-spacer-negative
    .row
      = f.label     :headline, "Título <br /><span class='small quieter'>Obligatorio</span>"
      = f.text_area :headline, :rows => 2
      = text_field_tag 'tip[blog_url]', '', :class => 'highlight_required', :id => 'tip_blog_url'
    .yellow-spacer-negative
    .row
      = f.label :short_description, "¿Por qué puede ser interesante para alguien?<br />!Explica tu propuesta! <br /><span class='small quieter'>Convence a la comunidad para que se una y finance la investigación que propones.</span>"
      = fckeditor_textarea("tip", "short_description", :toolbarSet => 'Spotus', :width => '67%', :height => '200px')
    .row
      .form_hint.small
        500 Carácteres restantes
    .yellow-spacer-negative
    .row
      %label{:for => ""}
        Topics
    .row
      = topic_check_boxes(@tip)
    .yellow-spacer-negative
    .row
      = f.label :pledge_amount, "Me gustaría colaborar economicamente... <br /><span class='small quieter'>No es una transacción como tal. Es solo para conocer tu interés por el tema. <a href='../pages/about#faq'>Mira nuestro FAQ.</a></span>"
      = f.text_field :pledge_amount
    .yellow-spacer-negative
    .row
      = f.label :keyword, "Palabras clave<br /><span class='small quieter'>Optional.<br />Palabras clave, o tags, deben ir separadas por coma, por ejemplo: &quot;contaminación, residuos&quot;</span>"
      = f.text_area :keywords, :rows => 3
    .yellow-spacer-negative
    .row
      %label{:for => ""} Añade fotos y videos
    .yellow-spacer-negative-blank
    .row 
      %label.small{:for => ""}
        Añade una imagen o foto
        %br
        %span.quieter Opcional, pero altamente recomendado <br />JPEG, PNG y GIF's menos de 5 MB.
      = f.file_field :featured_image
    .yellow-spacer-negative-blank
    .row.media
      = f.label :featured_image_caption, "Pie de foto" + "<br/><span class='small quieter'>200 Carácteres máximo</span>", :class => "small"
      = f.text_area :featured_image_caption, :rows => 2
    .yellow-spacer-negative-blank
    .row.media
      = f.label :video_embed, "Insertar un video" + "<br/><span class='quieter small'>Pon el código del video enlazado aquí.</span>", :class => "small"
      = f.text_area :video_embed, :rows => 4
      .clear
    .yellow-spacer-negative-blank
    .row.media
      = f.label :widget_embed, "Añadir un Widget" + "<br/><span class='quieter small'>Pega aquí el código de tu Widget.</span>", :class => "small"
      = f.text_area :widget_embed, :rows => 4
      .clear
  .clear
  .double_content_border

  .float-right
    - if @tip.new_record?
      = image_submit_tag image_path('post_this_tip.png')
    - else
      = image_submit_tag image_path('save.png')
      = link_to image_tag('cancel.png', :alt => 'Cancel'), root_url
