.span-160.box_white
  - if Pitch.createable_by?(current_user)
    %h3 Qué es Periodismoalacarta.com?
    .double_content_border
    %ul
      %li 
        Si eres un periodista profesional,
        = link_to "propón un artículo en vez de sugerir una investigación", new_pitch_path
      %li
        O
        = link_to "browse the community", news_items_path
        para saber que es lo que le interesa a la comunidad o aportar algo sobre alguna investigación. 
    .double_content_border
    .centered
      = link_to image_tag('create_a_pitch.png'), new_pitch_path
    .create_tip_spacer
    .block-spacer-negative
  %h3 Preguntas más frecuentes
  .double_content_border
  %h4.title ¿Qué es?
  %p.alt-spotus 
    Cualquiera puede sugerir
    = link_to " una investigación sobre un determinado tema", page_path("About", :anchor => "faq_citizen")
    Denunciar una injusticia, un caso de corrupción, un temás en el que tengas interés de cualquier tipo...
    Puedes prometer una donación en una determinada sugerencia pero en esta área las donaciones no tienen validez,
    es solo una manera de ver tu grado de compromiso, el interés que suscita entre la comunidad 
    y las posibilidades de ser recogida 
    por un periodista.

  %h4.title ¿Qué significa comprometerse?"
  %p.alt-spotus 
    = link_to "Comprometerse a realizar una donación no supone una transacción real de dinero.", page_path("about", :anchor => "faq_citizen")
    Pero, nos ayuda a saber el presupuesto aproximado que se podría recaudar para realizar un reportaje. 
    Si un periodista asocia su artículo a tú sugerencia debido a que son 
    similares o tratan de lo mismo, serás notificado y se solicitará una donación, esta vez de dinero real,
    por tu parte.

  %h4.title ¿Qué ocurre después?
  %p.alt-spotus 
    Intentamos que varias personas se comprometan y si a un reportero le inspira el tema
    propondrá un artículo que deberá ser financiado. 

