#footer-notes

  .span-6
    %h3 Donacion
    .double_footer_border
    .centered
      %p 
        %strong Decide que quieres que sea noticia. 
      
    .double_footer_border
    .centered
      = link_to image_tag("pledge_default.png"), page_path("quick_donate")
  
  .span-6
    %h3 Casi financiada!
    .double_footer_border
    - for pitch in Pitch.almost_funded.unfunded.top_four
      %p.clear
        = link_to image_tag(pitch.featured_image.url(:thumb)), pitch
        = pitch.class.name.upcase + ':'
        = link_to pitch.headline, pitch
  
  .span-6
    .float_right{:style => 'padding-top:3px;'}
      = link_to image_tag('rss_16.png'), news_items_path(:format => :rss)
    %h3 Nuevos objetos
    .double_footer_border
    - for news_item in NewsItem.newest.unfunded.pitch_or_tip.top_four
      %p.clear
        = link_to image_tag(news_item.featured_image.url(:thumb)), news_item
        = news_item.class.name.upcase + ':'
        = link_to news_item.headline, news_item
  .span-4
    %h3 Elevador de noticias
    .double_footer_border
    %p
      Periodismoalacarta...
      %br
      = link_to 'Leer mas', page_path("about")
  .clear
